*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* BLOCCO LEZIONI
*/

#lezioni img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS

 */
#steps {
  text-align: center;
  margin-top: 40px;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
  margin-top: 40px;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}
/*MEDIA QUERIES*/
@media screen and (max-width:768px){
  #lezioni, #why{
    background-color: #e3ce88;
  }
  #steps{
    background-color: white;
  }

}
